.MyEventUser {
    background-color: #FFFBF0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: #003049;
    position: relative;
}

.InputBox {
    margin: 10px 0;
}

.EditButton {
    margin-left: 20px;
    border: none;
    background-color: #236e96;
    color: white;
    border-radius: 15px;
}

.btn-form{
    padding: .5em;
    border-radius: 25px;
    border-color: #236e96; 
    transition-duration: 0.4s;
    background-color: #236e96;
    color: white;
    size: .5em;
}

.btn-form:hover{
    background-color: #0c3b55;
    color: white;
}

.InputBox {
    display: flex;
    flex-direction: row;
}

#MakeSure {
    margin: 20px;
}