.header-container {
    width: 100%;
    height:auto;
    background-color: #236e96;
    margin-bottom: 40px;
}
.meetme{
    color: white;
    padding: 1em; 
}
.navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

/*div container*/
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0;
}

.dropbtn {
    background-color: #236e96;
    color: white;
    border: none;
    font-size: 1em;
    font-family: "trebuchet", sans-serif;
    text-align: center;
    transition: all 0.3s ease;
}
#menu{
    padding:10px 45px 10px 51px;
}
#profile{
    padding:10px 35px 10px 39px;
}
/*links inside dropdown*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #236e96;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1em;
    text-align: center;
    padding: 1em 1.5em 1em 1.5em;
}

.dropdown-content a:hover {
background-color: #0c3b55;
}

#logout {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1em;
    text-align: center;
    padding: 1em 1.5em 1em 1.5em;
}

#logout:hover {
    background-color: #0c3b55;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:active .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
background-color: #0c3b55;
font-size: 1em;
}

