.header-container {
    width: 100vw;
    background-color: #7E78D2;
}

.navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*div container*/
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropbtn {
    background-color: blue;
    color: white;
    border: none;
    font-size: 1em;
    padding: 1em 2em 1em 2em;
    font-family: "trebuchet", sans-serif;
    text-align: center;
    transition: all 0.3s ease;
}
  
/*links inside dropdown*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em 1.5em 1em 1.5em;
}

.dropdown-content a:hover {
background-color: navy;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:active .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
background-color: navy;
}

/* 

.dropdown-profile {
position: relative;
display: inline-block;
text-align: center;
}


.dropdown-content-profile {
display: none;
position: absolute;
background-color: blue;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.dropdown-content-profile a {
color: white;
text-decoration: none;
display: block;
padding: 1em 1.5em 1em 1.5em;
}

.dropdown-content-profile a:hover {
background-color: navy;
}

.dropdown-profile:hover .dropdown-content-profile {
display: block;
}

.dropdown-profile:hover .dropbtn-profile {
    background-color: navy;
}
.dropbtn-profile {
    background-color: blue;
    color: white;
    border: none;
    font-family: "trebuchet", sans-serif;
    font-size: 1em;
} */