.EventCardContainer
{
    color: darkblue;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 5%;
    width: 300px;
    margin: 15px;
}

.EventCardContainer p
{
    color: #686868;
}